.containerPagesContainer {
    display: flex;
    flex-direction: column;
    // flex: 1;
    min-height: 100vh;
    .outlet {
        background-color: #4b99a7;
        flex: 1;
    }
    .footer {
        background-color: #1bcf93;
    }
}
