.containerHome {
    width: 1000px;
    margin: auto;

    .description {
        margin: 0 auto 20px;
        font-size: 26px;
        font-weight: 400;
        color: rgb(44, 44, 44);
        // max-width: 1000px;
    }
    .containerWrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .containerHuman {
            cursor: pointer;
            padding: 40px;
            border-radius: 20px;
            background-color: #ade0dc;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            &:hover {
                img {
                    transition: all 0.2s;

                    transform: scale(1.1);
                }
            }
            .text {
                color: #d67d17;
                font-size: 30px;
                font-weight: 600;
            }
        }
    }
    .infoContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        // gap: 40px;
        row-gap: 40px;
        .infoDescription {
            max-width: 486px;
            color: #6b6b6b;
            // max-width: 486.5px;
            // min-width: 400px;
            line-height: 25px;
            font-size: 18px;
            margin-bottom: 20px;
            span {
                font-size: 20px;
                font-weight: 600;
                color: #2c2c2c;
            }
        }
    }
}
