.header {
    position: relative;
    height: 220px;
    background-image: url("../../img/potatoField.jpg");
    background-size: no-repeat;

    // background-position: 0px 300px;
    background-position: center;

    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
    @media (max-width: 660px) {
    height: 180px;

    }
    @media (max-width: 410px) {
        height: 130px;

    }
    .headerText {
        font-size: 56px;
        font-weight: 700;
        width: 750px;
        color: rgb(255, 255, 255);
        @media (max-width: 790px) {
            font-size: 46px;
        }
        @media (max-width: 550px) {
            font-size: 36px;
        }
        @media (max-width: 410px) {
            font-size: 26px;
        }
    }
    .potatos {
        position: absolute;
        width: 200px;
        height: 100px;
        top: 120px;
        left: 50%;
        background-image: url("../../img/potatos.png");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        @media (max-width: 660px) {
            display: none;
        }
    }
}
